/**
 * メインコンテンツのLayoutスタイルを管理するファイル
 * <main>タグにて`l-`が接頭辞につくものが対象
*/

@use "../foundation/_reset";
@use "../foundation/_base";
@use "../foundation/_variables" as *;

.l-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.l-message {
  width: 80%;
  margin: 20px auto;
}
