.l-chat {
  &__link {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &__item {
    border-bottom: 1px solid $color-border;

    &--active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
