{{define "footer"}}
<footer class="l-footer">
    <div class="l-footer__container">
        <div class="l-footer__content">
            <div class="l-footer__logo">
                <a href="/" class="p-footerLogo">Footer</a>
            </div>
            <div class="l-footer__nav">
                <div class="l-footer__links">
                    <a href="/" class="p-footerLink">ホーム</a>
                    <a href="/chat" class="p-footerLink">チャット</a>
                    <a href="/profile" class="p-footerLink">プロフィール</a>
                    <a href="/settings" class="p-footerLink">設定</a>
                </div>
            </div>
            <div class="l-footer__social">
                <a href="#" class="p-socialLink">Twitter</a>
                <a href="#" class="p-socialLink">Facebook</a>
                <a href="#" class="p-socialLink">Instagram</a>
            </div>
        </div>
        <div class="l-footer__bottom">
            <p class="p-copyright">&copy; 2025 ChatApp. All rights reserved.</p>
        </div>
    </div>
</footer>
{{end}}
