{{ define "header"}}
<header class="l-header">
  <nav class="l-nav">
    <div class="l-nav__container">
      <a href="/" class="l-nav__logo">ChatApp</a>
      <div class="l-nav__list">
        <a href="/" class="l-nav__item p-navLink">ホーム</a>
        {{if .IsLoggedIn}}
        <a href="/chat" class="l-nav__item p-navLink">チャット</a>
        <a href="/profile" class="l-nav__item p-navLink">プロフィール</a>
        <a href="/settings" class="l-nav__item p-navLink">設定</a>
        {{else}}
        <a href="/login" class="l-nav__item p-navLink">ログイン</a>
        <a href="/register" class="l-nav__item p-navLink">新規登録</a>
        {{end}}
      </div>
    </div>
  </nav>
</header>
{{end}}
