{{define "footer"}}
<footer class="l-footer">
  <div class="l-footer__container">
    <div class="l-footer__content">
      <div class="l-footer__logoWrap">
        <a href="/" class="l-footer__logo c-logo">Footer</a>
      </div>
      <nav class="p-nav --footer">
        <ul class="p-nav__list --footer">
          {{if .IsLoggedIn}}
          <li class="p-nav__item --footer">
            <a href="/" class="c-link --footer">検索</a>
          </li>
          <li class="p-nav__item --footer">
            <a href="/chat" class="c-link --footer">チャット</a>
          </li>
          <li class="p-nav__item --footer">
            <a href="/profile" class="c-link --footer">プロフィール</a>
          </li>
          <li class="p-nav__item --footer">
            <a href="/settings" class="c-link --footer">設定</a>
          </li>
          {{end}}
        </ul>
      </nav>
    </div>
    <div class="l-footer__bottom">
      <p class="c-txt --copyright">&copy; 2025 ChatApp. All rights reserved.</p>
    </div>
  </div>
</footer>
{{end}}
